.section1{
    padding: 0 60px;
    height: 700px;
}
.section1 h5{
    margin-top: 50px;
    margin-bottom: 80px;
}
.section1 .flex{
    display: flex;
    justify-content: space-between;
}
.section1 .flex .left{
    width: 30%;
    font-size: 0.8rem;
    padding-left: 30px;
    box-sizing: border-box;
}
.section1 .flex .left p{
    padding-left: 20px;
    color: rgb(0, 0, 0,0.6);
}

.section1 .flex .right{
    padding-top: 30px;
    width: 65%;
    box-sizing: border-box;
}
.section1 .flex .right form input{
    width: 100%;
    padding: 10px;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 20px;
}
.section1 .flex .right form label{
    display: block;
    font-size: 0.8rem;
    margin-bottom: 6px;
}
.section1 .flex .right form .flex1{
    display: flex;
    justify-content: space-between;
}
.section1 .flex .right form .flex1 .flex2{
    width: 46%;
}
.section1 .flex .right form .flex-end{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.section1 .flex .right form .flex-end a{
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
.section1 .flex .right form .flex-end button{
    background-color: #db4444;
    padding: 10px 30px;
    color: #fafafa;
    border: none;
    font-size: 0.8rem;
}