.section1{
    height: 500px;
    padding: 0 60px;
    margin-top: 50px;
}

.section1 .flex{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.section1 .flex .left{
    width: 30%;
    font-size: 0.8rem;
}
.section1 .flex .left .flex2{
    display: flex;
    gap: 10px;
}
.section1 .flex .left .flex2 h6{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1rem;
}
.section1 .flex .left .iconphone{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #DB4444;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F5F5F5;
}
.section1 .flex .right{
    width: 60%;
    padding: 20px 0;
    box-sizing: border-box;
    position: relative;
}
.section1 .flex .right form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 20px;
}
.section1 .flex .right form input{
    padding: 10px 0;
    background-color: #F5F5F5;
    border: none;
    outline: none;
}
.section1 .flex .right form textarea{
    grid-column: span 3;
    background-color: #F5F5F5;
    border: none;
    outline: none;
}
.section1 .flex .right form button{
    background-color: #DB4444;
    border: none;
    color: white;
    padding: 20px 50px;
    position: absolute;
    right: 0;
    bottom: 0;
}

@media screen and (max-width:1000px){
    .section1 .flex .right form{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .section1 .flex .right form textarea{
        grid-column: span 1;
    }
    .section1{
        height: 600px;
    }
    .section1 .flex .right form button{
        right: 0;
        bottom: -80px;
    }

}
@media screen and (max-width:700px){
    .section1{
        height: 900px;
    }
    .section1 .flex{
        flex-direction: column;
    }
    .section1 .flex .left{
        width: 100%;
        font-size: 0.8rem;
    }
    .section1 .flex .right{
        width: 100%;
    }
}